@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
  font-family: "Nanum Pen Script";
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../images/yogurt-pyramid.jpg");
  background-size: 100%;
}

a {
  font-size: 20px;
}

.btn-outline-dark {
  border-color: white;
}

.btn-learn:hover {
  background-color: rgb(255, 255, 255, 0.201);
}

.nav-test {
  float: right;
}

.carousel {
  width: 500px;
  margin: 20px auto;
}

.card{
  padding: 15px;
  margin: 35px 0px;
}