<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" />
    <title>SideBar</title>
</head>
<body>
    <!-- Sidebar-->
    <div class=" bg-primary sidebar-blue">
        <div class="list-group list-group-flush">
          <div class="list-group-item list-group-item-action bg-primary p-3">
            <div class="square-sidebar-blue"></div>
          </div>
          <a class="list-group-item list-group-item-action bg-primary">
            <img width="50px" src="assets/home.svg">
          </a>
          <a class="list-group-item list-group-item-action bg-primary">
            <img width="50px" src="assets/cars.svg">
          </a>
        </div>
      </div>
      <div class=" bg-white border-end" id="sidebar-wrapper">
        <div class="bg-white" style="padding: 13px 100px 13px 20px;">
          <div class="sidebar-heading" style="background-color: #CFD4ED;"></div>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action p-4" href="#"><b>CARS</b></a>
          <a class="list-group-item list-group-item-action p-4" href="/admin"><b>List Cars</b></a>
        </div>
      </div>    
</body>
</html>