@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  outline: none;
  font-family: Inter;
}

::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

html {
  scrollbar-width: none;
}

.btn-success-register {
  width: 81px;
  height: 36px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

h2, h5 {
  font-weight: bold;
}

.why-us-card-item {
  margin-top: 20px;
}

.card-title, .card-text {
  margin-top: 16px;
}

.container-fluid {
  padding: 0px;
}

.item {
  cursor: grab;
  background-color: #F1F3FF;
}

.testi-card {
  margin: 10px;
}

.accordion-button:focus {
  box-shadow: none;
}

.navbar-light, .introduction {
  background-color: #F1F3FF;
}

.start-rent {
  width: 1168px;
}
