@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 40%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }

  .btn {
    padding: 0.355rem 0.55rem;
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 14px;
  }

  .our-services-img,
  .our-services-list {
    margin-top: 20px;
  }

  .list-unstyled li {
    padding: 0.325rem 0.35rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 14px;
  }

  .btn,
  .list-unstyled li {
    padding: 0.325rem 0.35rem;
    font-size: 13px;
  }

  .intro-text,
  .intro-img {
    margin-top: 20px;
  }

  .img-reviewer {
    height: 60px;
    border-radius: 50vh;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {

}