<!DOCTYPE html>
<html lang="en">
<head>
  <title>Person</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 0px 15px;
    }
  </style>
</head>
<body>
  <main>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
      </tr>
      <tr>
        <% data.forEach(item => { %>
          <td><%= item.name %></td>
          <td><%= item.age %></td>
          <td><%= item.address %></td>
        <% }) %>
      </tr>
    </table>
  </main>
</body>
</html>